@use '../../styles/shared';

.wrapper {
  @include shared.center;

  width: 80vw;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 5px;
  padding: 25px 20px;
  background-color: shared.$color-white;

  .title {
    text-align: center;
    font-size: shared.$font-title-small;
    margin-bottom: 25px;
    font-weight: shared.$font-weight-regular;
  }

  .closeBtn {
    background: none;
    border: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 15px;
    height: 15px;
    z-index: 99999;

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      content: '';
      width: 100%;
      height: 1px;
      background-color: shared.$color-primary;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }
}
