@use '../../styles/shared';
@use '../../styles/resolutions.scss';

.wrapper {
  overflow-x: scroll;
  min-height: 100vh;

  @include resolutions.w-1150 {
    overflow-x: auto;
  }
}

.tasks {
  padding: 15px 15px 0;
  margin: 50px auto 0;
  max-width: 1000px;
  width: 300vw;

  display: flex;
  flex-flow: nowrap row;
  justify-content: space-between;

  @include resolutions.w-700 {
    margin-top: 75px;
    padding: 20px 20px 0;
    max-width: 1150px;
    width: 150vw;
  }

  @include resolutions.w-1600 {
    max-width: 1350px;
  }
}

.addTaskBtn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: none;
  width: 40px;
  height: 40px;
  background-color: rgba(shared.$color-primary, 0.5);
  border-radius: 50%;
  cursor: pointer;
  z-index: 99999;

  @include resolutions.w-700 {
    bottom: 15px;
    right: 15px;
  }

  @include resolutions.w-1000 {
    width: 50px;
    height: 50px;

    transition: all 0.2s;

    &:hover {
      background-color: rgba(shared.$color-primary, 1);
    }
  }

  @include resolutions.w-1600 {
    bottom: 20px;
    right: 20px;
  }

  &::before,
  &::after {
    content: '';
    width: 75%;
    height: 3px;
    background-color: shared.$color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &::after {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
