$color-primary: #2f88e5;

$color-white: #fff;

$font-title-small: 30px;
$font-small: 16px;

$font-weight-regular: 400;
$font-weight-bold: 700;

$font-oswald: 'Oswald', sans-serif;
$font-dancingScript: 'Dancing Script', cursive;
