@use '../../styles/shared';
@use 'sass:color';
@use '../../styles/resolutions.scss';

.alert {
  width: 100%;
  padding: 12px 20px;
  font-size: shared.$font-small;
  margin-bottom: 40px;
  border-radius: 5px;

  @include resolutions.w-700 {
    font-size: shared.$font-medium;
  }

  @include resolutions.w-1600 {
    font-size: shared.$font-large;
  }
}

.error {
  color: color.scale(shared.$color-error, $lightness: -65%);
  background-color: shared.$color-error;
  border: 1px solid color.scale(shared.$color-error, $lightness: -5%);
}

.message {
  color: color.scale(shared.$color-done, $lightness: -65%);
  background-color: shared.$color-done;
  border: 1px solid color.scale(shared.$color-done, $lightness: -5%);
}
