@use '../../styles/shared';
@use 'sass:color';

.nav {
  display: flex;
  flex-flow: nowrap;
  align-items: flex-end;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  .navItem {
    color: shared.$color-white;
    font-size: shared.$font-small;
    margin-left: 15px;
    line-height: 1em;
    transition: color 0.2s;

    &.navLink {
      display: block;
      text-decoration: none;
    }

    &.navBtn {
      border: none;
      background: none;
      font-size: shared.$font-small;
      font-family: shared.$font-oswald;
      cursor: pointer;
    }

    &.selected {
      font-weight: shared.$font-weight-bold;
    }

    &:hover:not(.selected) {
      color: color.scale(shared.$color-white, $lightness: -20%);
    }
  }
}
