@use '../../styles/shared';

.header {
  padding: 10px;
  background-color: shared.$color-primary;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
      width: 25px;
      margin-right: 5px;
    }

    .title {
      font-family: shared.$font-dancingScript;
      font-size: shared.$font-title-small;
      font-weight: shared.$font-weight-bold;
      color: shared.$color-white;
    }
  }
}
