@use '../../styles/shared';
@use '../../styles/resolutions.scss';

.header {
  padding: 10px;
  width: 100%;
  background-color: shared.$color-primary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @include resolutions.w-700 {
    padding: 15px;
  }

  .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    img {
      width: 25px;
      margin-right: 5px;

      @include resolutions.w-700 {
        width: 35px;
      }

      @include resolutions.w-1600 {
        width: 40px;
      }
    }

    .title {
      font-family: shared.$font-dancingScript;
      font-size: shared.$font-title-small;
      font-weight: shared.$font-weight-bold;
      color: shared.$color-white;

      @include resolutions.w-700 {
        font-size: shared.$font-title-medium;
      }

      @include resolutions.w-1600 {
        font-size: shared.$font-title-large;
      }
    }
  }
}
