@use '../../styles/shared';
@use '../../styles/resolutions.scss';

.link {
  display: block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  margin-top: 20px;
  color: shared.$color-primary;
  font-size: shared.$font-small;

  @include resolutions.w-700 {
    font-size: shared.$font-medium;
  }

  @include resolutions.w-1600 {
    font-size: shared.$font-large;
  }
}
